{{ define "main" }}
<div class="container is-max-desktop">  
  {{- partial "breadcrumbs.html" . -}}
  <article class="block p-4">
    <p class="is-size-1 title">{{.Title}}</p>
    {{- partial "metadata.html" . -}}
    <div class="columns">    
      <div class="column is-8">
        <div class="content">
          {{- if eq .Type "project" -}}
            {{- $fileDir := .File.Dir -}}            
            {{- $imgExt := "gif,png,jpg" -}}
            {{- range split $imgExt "," -}}
              {{- $filename := print "screenshot." . -}}              
              {{- if os.FileExists (print $fileDir $filename) -}}
                <figure>
                  <img src="{{$filename}}" />
                </figure>
              {{- end -}}
            {{- end -}}
          {{- end -}}
          {{.Content}}        
        </div>      
      </div>
      <div class="column is-4">      
        {{- partial "categories.html" . -}}
        {{- partial "tags.html" . -}}
      </div>
    </div>
  </article>
</div>     
{{ end }}