{{- $dateFormat := .Site.Params.dateFormat | default "Jan 02, 2006" -}}
<div class="block is-size-7">
  <span class="icon-text">
    <span class="icon">
      {{- if in .Params.Tags "graphic" -}}
        <span class="material-symbols-outlined">image</span>
      {{- else -}}      
        <span class="material-symbols-outlined">code</span>      
      {{- end -}}
    </span>
    {{- partial "metadata-date.html" . -}}
    <span>&nbsp;&middot;&nbsp;</span>
    {{- partial "reading-time.html" . -}}
  </span>
</div>