{{- $dateFormat := .Site.Params.dateFormat | default "Jan 02, 2006" -}}
{{- $timeFormat := .Site.Params.timeFormat | default "3:04 PM MST" -}}

<div class="block is-size-7">
  <span class="icon-text">
    <!-- Archetype -->    
    {{- if eq .Type "post" -}}
      <span class="icon">
        <span class="material-symbols-rounded">article</span>
      </span>
    {{- else -}}
      <span class="tag">{{ .Type }}</span>
    {{- end -}}
    
    <!-- Published date -->  
    {{- $publishDate := .PublishDate.Format $dateFormat -}}
    {{- $lastMod := .Lastmod.Format $dateFormat -}}
    <span><time datetime="{{ .PublishDate | safeHTMLAttr }}">{{ $publishDate }}</time></span>
    
    <!-- Last modified date -->
    {{- if .Lastmod -}}
      <span>&nbsp;&middot;&nbsp;</span>
      <span>Last updated 
        <time datetime="{{ .Lastmod | safeHTMLAttr }}">
        {{- if eq $publishDate $lastMod -}}
          {{ .Lastmod.UTC.Format $timeFormat }}
        {{- else -}}
          {{ .Lastmod.UTC.Format (print $dateFormat " " $timeFormat) }}
        {{- end }}
        </time>
      </span>          
    {{- end -}}  
    
    <!-- Author -->
    {{- if .GitInfo -}}
      <span>&nbsp;&middot;&nbsp;</span>
      <address class="is-inline">
        <a href="mailto:{{ .GitInfo.AuthorEmail | default '#' | safeHTMLAttr }}">{{ .GitInfo.AuthorName | default "TBD" }}</a>
      </address>    
    {{- end -}}
    
    <span>&nbsp;&middot;&nbsp;</span>

    <!-- Reading time -->
    <span>{{ .ReadingTime }} minute read</span>
    
  </span>
</div>